force-app/main/default/flows/Client_Risk_Assessment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_by_City</name>
        <label>Get by City</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>Domestic_Geographic_Risk_Ratings</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Get_the_Risk_Point</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Domestic_Geographic_Risk_Ratings</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>Rating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_by_State</name>
        <label>Get by State</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>Decision_Matrix_Domestic_Geographic_Risk_Ratings_State</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Get_the_Risk_Point</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Province</name>
            <value>
                <elementReference>Province</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Decision_Matrix_Domestic_Geographic_Risk_Ratings_State</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>Rating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_the_Risk_Point</name>
        <label>Get the Risk Point</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <actionName>Set_the_Risk_Rating</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Populate_the_Rating_on_Compliance_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RiskRating</name>
            <value>
                <elementReference>RiskRating</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_the_Risk_Rating</nameSegment>
        <outputParameters>
            <assignToReference>RiskPoint</assignToReference>
            <name>RiskPoints</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_the_Risk_Rating</name>
        <label>Get the Risk Rating</label>
        <locationX>2822</locationX>
        <locationY>755</locationY>
        <actionName>Occupation_Industries_and_their_Risk_Ratings</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Check_if_the_Risk_Rating_is_High</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Occupation</name>
            <value>
                <elementReference>Occupation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Occupation_Industries_and_their_Risk_Ratings</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>RiskRating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Map_the_Country_to_a_Risk_Rating</name>
        <label>Map the Country to a Risk Rating</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Country_Risk_Assessment</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Get_the_Risk_Point</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Country_Risk_Assessment</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>RiskRating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Store_the_Applicant_s_Occupation</name>
        <label>Store the Applicant&apos;s Occupation</label>
        <locationX>2822</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Occupation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant__r.Contact.Occupation_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Risk_Rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_the_Contact_s_Mailing_Country</name>
        <label>Store the Contact&apos;s Mailing Country</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Country</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Applicant__r.Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant__r.Contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Province</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant__r.Contact.MailingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_the_Applican_s_Country_is_Populated</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Contact is Missing on {!$Record.Applicant__r.Name}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_2_of_Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Contact is Missing on {!$Record.Applicant__r.Name}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_3_of_Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Birthdate is Missing on Applicant&apos;s Contact</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Contact is Missing on {!$Record.Applicant__r.Name}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_If_Applicant_is_Populated_on_Loan_Applicant_Record</name>
        <label>Check If Applicant is Populated on Loan Applicant Record</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_the_Contact_s_Mailing_Country</targetReference>
            </connector>
            <label>If Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Client_is_Senior_or_Vulnerable</name>
        <label>Check If Client is Senior or Vulnerable</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_BirthDate_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.Birthdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Display_Error_Message</targetReference>
            </connector>
            <label>If BirthDate is Null</label>
        </rules>
        <rules>
            <name>If_Senior_or_Vulnerable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgeOfApplicant</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Rating_to_High</targetReference>
            </connector>
            <label>If Senior or Vulnerable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_the_Applican_s_Country_is_Populated</name>
        <label>Check If the Applicant&apos;s Country is Populated</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_country_is_not_canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_the_Country_to_a_Risk_Rating</targetReference>
            </connector>
            <label>If country is not canada</label>
        </rules>
        <rules>
            <name>If_Country_is_Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Province_or_City</targetReference>
            </connector>
            <label>If Country is Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Applicant_s_Occupation_is_Populated</name>
        <label>Check if the Applicant&apos;s Occupation is Populated</label>
        <locationX>3020</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Occupation_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.Occupation_Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_the_Applicant_s_Occupation</targetReference>
            </connector>
            <label>If Occupation Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Risk_Rating_is_High</name>
        <label>Check if the Risk Rating is High</label>
        <locationX>2822</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RiskRating</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Risk_Point</targetReference>
            </connector>
            <label>If High</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Province_or_City</name>
        <label>check Province or City</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_whole_province</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nunavut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northwest Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yukon Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatchewan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince Edward Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Scotia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manitoba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_by_State</targetReference>
            </connector>
            <label>if whole province</label>
        </rules>
        <rules>
            <name>If_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_by_City</targetReference>
            </connector>
            <label>If City</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Type</name>
        <label>Check the Type</label>
        <locationX>2360</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Client_Geography</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Geography</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Risk_Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Applicant_is_Populated_on_Loan_Applicant_Record</targetReference>
            </connector>
            <label>If Client Geography</label>
        </rules>
        <rules>
            <name>If_Client_Characterstics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Characteristics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Risk_Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_If_Applicant_is_Populated_on_Loan_Applicant_Record</targetReference>
            </connector>
            <label>If Client Characterstics</label>
        </rules>
        <rules>
            <name>If_Occupation_Industries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Occupation/Industry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client_Risk_Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_If_Applicant_is_Populated_on_Loan_Applicant_Record</targetReference>
            </connector>
            <label>If Occupation / Industries</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_Applicant_is_Populated_on_Loan_Applicant_Record</name>
        <label>Check If Applicant is Populated on Loan Applicant Record</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Client_is_Senior_or_Vulnerable</targetReference>
            </connector>
            <label>If Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_If_Applicant_is_Populated_on_Loan_Applicant_Record</name>
        <label>Check If Applicant is Populated on Loan Applicant Record</label>
        <locationX>3251</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant__r.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Applicant_s_Occupation_is_Populated</targetReference>
            </connector>
            <label>If Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AgeOfApplicant</name>
        <dataType>Number</dataType>
        <expression>ROUND((TODAY() - {!$Record.Applicant__r.Contact.Birthdate}) / 365, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Cr_Rating</name>
        <dataType>Number</dataType>
        <expression>VALUE({!RiskPoint})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Client Risk Assessment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Risk Assessment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_the_Rating_on_Compliance_Record</name>
        <label>Populate the Rating on Compliance Record</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>CR_Rating__c</field>
            <value>
                <elementReference>Cr_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>RiskPoint</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_the_Rating_to_High</name>
        <label>Set the Rating to High</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CR_Rating__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_the_Risk_Point</name>
        <label>Set the Risk Point</label>
        <locationX>2690</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>CR_Rating__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Geography</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Characteristics</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Occupation/Industry</stringValue>
            </value>
        </filters>
        <object>Compliance__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Occupation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskPoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </variables>
</Flow>
