force-app/main/default/flows/Conditions_Send_Outstanding_Conditions_to_Borrower_Broker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_the_List_of_Outstanding_Conditions</name>
        <label>Send the List of Outstanding Conditions</label>
        <locationX>1051</locationX>
        <locationY>3902</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Table_Headers</name>
        <label>Add Table Headers</label>
        <locationX>1051</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>TableHeaders</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Condition Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHeaders</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Condition Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHeaders</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_table_Tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_table_Tag</name>
        <label>Add &lt;table&gt; Tag</label>
        <locationX>1051</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;table cellspacing=&quot;1&quot; bgcolor=&quot;#000000&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tr_in_the_Start_For_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_table_Tag_to_the_Body_End</name>
        <label>Add  &lt;/table&gt; Tag to the Body End</label>
        <locationX>1051</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_the_List_of_Outstanding_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_td_Tag_in_the_End_For_Condition_Type</name>
        <label>Add &lt;/td&gt; Tag in the End ( For Condition Type)</label>
        <locationX>1139</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_td_Tag_in_the_Start_For_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_td_Tag_in_the_End_For_Description</name>
        <label>Add &lt;/td&gt; Tag in the End ( For Description)</label>
        <locationX>1139</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_tr_in_the_End_For_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_td_Tag_in_the_End_For_Subject</name>
        <label>Add &lt;/td&gt; Tag in the End ( For Subject )</label>
        <locationX>1139</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_td_Tag_in_the_Start_For_Condition_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_td_Tag_in_the_Start_For_Condition_Type</name>
        <label>Add &lt;td&gt; Tag in the Start ( For Condition Type)</label>
        <locationX>1139</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Applicable_Condition_s_Condition_Type_to_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_td_Tag_in_the_Start_For_Description</name>
        <label>Add &lt;td&gt; Tag in the Start ( For Description)</label>
        <locationX>1139</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Applicable_Condition_s_Description_to_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_td_tag_in_the_Start_For_Subject</name>
        <label>Add &lt;td&gt; tag in the Start ( For Subject)</label>
        <locationX>1139</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Applicable_Condition_s_Subject_to_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_th_Tag_in_the_End</name>
        <label>Add &lt;/th&gt; Tag in the End</label>
        <locationX>1139</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Columns_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_th_Tag_in_the_Start</name>
        <label>Add &lt;th&gt; Tag in the Start</label>
        <locationX>1139</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Column_Headers_in_the_Table</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Applicable_Condition_s_Condition_Type_to_the_List</name>
        <label>Add the Applicable Condition&apos;s Condition Type to the List</label>
        <locationX>1139</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_Applicable_Tasks.Condition_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_td_Tag_in_the_End_For_Condition_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Applicable_Condition_s_Description_to_the_List</name>
        <label>Add the Applicable Condition&apos;s Description to the List</label>
        <locationX>1139</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_Applicable_Tasks.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_td_Tag_in_the_End_For_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Applicable_Condition_s_Subject_to_the_List</name>
        <label>Add the Applicable Condition&apos;s Subject to the List</label>
        <locationX>1139</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_the_Applicable_Tasks.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_td_Tag_in_the_End_For_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_Column_Headers_in_the_Table</name>
        <label>Add the Column Headers in the Table</label>
        <locationX>1139</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_Columns_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_th_Tag_in_the_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tr_in_the_End_For_Data</name>
        <label>Add &lt;/tr&gt; in the End (For Data)</label>
        <locationX>1139</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Applicable_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tr_in_the_End_For_Header</name>
        <label>Add &lt;/tr&gt;in the End (For Header)</label>
        <locationX>1051</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_the_Applicable_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tr_in_the_Start_For_Header</name>
        <label>Add &lt;tr&gt;in the Start (For Header)</label>
        <locationX>1051</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr bgcolor=&quot;#ffffff&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_Columns_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_tr_Tag_in_the_Start_For_Data</name>
        <label>Add &lt;tr&gt; Tag in the Start (For Data)</label>
        <locationX>1139</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>ConditionsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr bgcolor=&quot;#ffffff&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_td_tag_in_the_Start_For_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Borrower_s_Info</name>
        <label>Store Borrower&apos;s Info</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RLA_Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BorrowerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_the_Broker_s_Infio</name>
        <label>Store the Broker&apos;s Infio</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RLA_Record.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BrokerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Borrower_or_Broker_is_Selected</name>
        <label>Check If Borrower or Broker is Selected</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_All_the_Applicable_Open_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Borrower_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Borrower_is_an_Individual</targetReference>
            </connector>
            <label>If Borrower is Selected</label>
        </rules>
        <rules>
            <name>If_Broker_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BrokerClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Broker_Email_is_Populated</targetReference>
            </connector>
            <label>If Broker is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Borrower_s_Email_is_Populated</name>
        <label>Check If Borrower&apos;s Email is Populated</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Borrower_Email_Missing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Borrower_Email_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Borrower_s_Info</targetReference>
            </connector>
            <label>If Borrower Email is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Broker_Email_is_Populated</name>
        <label>Check If Broker Email is Populated</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Broker_Email_Missing_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Broker_Email_is_not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Record.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_the_Broker_s_Infio</targetReference>
            </connector>
            <label>If Broker Email is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Borrower_is_an_Individual</name>
        <label>Check if the Borrower is an Individual</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Borrower_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_Borrower_is_a_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Record.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Borrower_s_Email_is_Populated</targetReference>
            </connector>
            <label>If the Borrower is a Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_No_Open_Tasks</name>
        <label>Check if there are No Open Tasks</label>
        <locationX>875</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Select_Conditions_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_there_are_no_Open_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_the_Applicable_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Open_Conditions_on_RLA</targetReference>
            </connector>
            <label>If there are no Open Tasks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BorrowerName</name>
        <dataType>String</dataType>
        <expression>{!Get_RLA_Record.Account.FirstName} + &quot; &quot; + {!Get_RLA_Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>BrokerName</name>
        <dataType>String</dataType>
        <expression>{!Get_RLA_Record.Contact__r.FirstName} + &quot; &quot; +  {!Get_RLA_Record.Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Alert: Conditions are outstanding on Loan Application #  &apos;  + {!Get_RLA_Record.Name}</expression>
    </formulas>
    <formulas>
        <name>SelectConditionsText</name>
        <dataType>String</dataType>
        <expression>&apos;Select the Conditions to send to&apos;</expression>
    </formulas>
    <interviewLabel>Conditions - Send Outstanding Conditions to Borrower/Broker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditions - Send Outstanding Conditions to Borrower/Broker</label>
    <loops>
        <name>Loop_through_all_the_Applicable_Tasks</name>
        <label>Loop through all the Applicable Tasks</label>
        <locationX>1051</locationX>
        <locationY>2414</locationY>
        <collectionReference>SelectOpenConditions.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_tr_Tag_in_the_Start_For_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_table_Tag_to_the_Body_End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_the_Columns_Name</name>
        <label>Loop through the Columns Name</label>
        <locationX>1051</locationX>
        <locationY>1790</locationY>
        <collectionReference>TableHeaders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_th_Tag_in_the_Start</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_tr_in_the_End_For_Header</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_the_Applicable_Open_Tasks</name>
        <label>Get All the Applicable Open Tasks</label>
        <locationX>875</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_No_Open_Tasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND( 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Showing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Condition_Name__c</queriedFields>
        <queriedFields>Condition_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RLA_Record</name>
        <label>Get RLA Record</label>
        <locationX>875</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Borrower_or_Broker_is_Selected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Borrower_Email_Missing_Screen</name>
        <label>Borrower Email Missing Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BorrowerEmailMissing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Borrower&apos;s Email is Missing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Broker_Email_Missing_Screen</name>
        <label>Broker Email Missing Screen</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_BorrowerEmailMissing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Broker Email is Missing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1546</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Error: &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Borrower_Screen</name>
        <label>No Borrower Screen</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BorrowerIsNotanIndividualScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(11, 11, 11);&quot;&gt;No Borrower Populated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Open_Conditions_on_RLA</name>
        <label>No Open Conditions on RLA</label>
        <locationX>699</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoOpenConditionsError</name>
            <fieldText>&lt;p&gt;There are no Open Conditions on Loan Application # {!Get_RLA_Record.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outstanding_Conditions</name>
        <label>Outstanding Conditions</label>
        <locationX>875</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_RLA_Record</targetReference>
        </connector>
        <fields>
            <name>Recipient</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Send The Notification To:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outstanding_Conditions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outstanding_Conditions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BorrowerButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Borrower</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>BorrowerClicked</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outstanding_Conditions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BrokerButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Broker</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>BrokerClicked</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Conditions_Screen</name>
        <label>Select Conditions Screen</label>
        <locationX>1051</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Table_Headers</targetReference>
        </connector>
        <fields>
            <name>SelectOpenConditions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Conditions To Send:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_the_Applicable_Open_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Condition_Name__c&quot;,&quot;guid&quot;:&quot;column-9f45&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Condition Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-0ff6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-590c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_All_the_Applicable_Open_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outstanding_Conditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!RecipientName},&lt;/p&gt;&lt;p&gt;Please note following conditions are outstanding:&lt;/p&gt;&lt;p&gt;{!ConditionsList}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BorrowerClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BrokerClicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConditionsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TableHeaders</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
