force-app/main/default/flows/Conditions_Update_Task_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>CommitmentExpiration</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commitment Expiration</stringValue>
        </value>
    </constants>
    <constants>
        <name>CommitmentFee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commitment Fee</stringValue>
        </value>
    </constants>
    <constants>
        <name>InterestReserve</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Interest Reserve</stringValue>
        </value>
    </constants>
    <constants>
        <name>MustFundBy</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Must Fund By</stringValue>
        </value>
    </constants>
    <constants>
        <name>MustFundBy_Comment_1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This mortgage must fund by August 30, 2020 to be eligible of the 5.75% rate with 1.00% fee. If not funding by August 30th. 2020, rate increases to 5.75% with 1.75% fee.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MustFundBy_Comment_2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This mortgage must fund by August 30, 2020 to be eligible of the 5.99% rate with 1.00% fee. If not funding by August 30th. 2020, rate increases to 6.24% with 1.75% fee providing client still qualifies.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MustFundBy_Comment_3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The LTV of this loan is too high to be eligible for the Summer Quick Close Promotion.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_the_Task_Subject</name>
        <label>Check the Task Subject</label>
        <locationX>1056</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Commitment_Expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_Tasks_on_RLA.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CommitmentExpiration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commitment_Expiration_Comments</targetReference>
            </connector>
            <label>If Commitment Expiration</label>
        </rules>
        <rules>
            <name>If_Interest_Reserve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_Tasks_on_RLA.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InterestReserve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interest_Reserve_Comments</targetReference>
            </connector>
            <label>If Interest Reserve</label>
        </rules>
        <rules>
            <name>If_Commitment_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_Tasks_on_RLA.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CommitmentFee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commitment_Fee_Comments</targetReference>
            </connector>
            <label>If Commitment Fee</label>
        </rules>
        <rules>
            <name>If_Must_Fund_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_the_Tasks_on_RLA.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MustFundBy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Value_of_Blended_LTV</targetReference>
            </connector>
            <label>If Must Fund By</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Value_of_Blended_LTV</name>
        <label>Check the Value of Blended LTV</label>
        <locationX>1320</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Must_Funded_By_Comments_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Blended_LTV_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blended_LTV__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>65.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Must_Funded_By_Comments_1</targetReference>
            </connector>
            <label>If Blended LTV &lt;= 65</label>
        </rules>
        <rules>
            <name>If_Blended_LTV_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Blended_LTV__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Must_Funded_By_Comments_2</targetReference>
            </connector>
            <label>If Blended LTV &lt;= 75</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CommitmentExpiration_Comment</name>
        <dataType>String</dataType>
        <expression>&quot;This commitment shall be open for acceptance by you until 11:59 pm on &quot; &amp; TEXT({!$Record.Expiration_Date__c}) &amp; &quot; after which time, if not accepted, may be considered null and void.&quot;</expression>
    </formulas>
    <formulas>
        <name>CommitmentFee_Comment</name>
        <dataType>String</dataType>
        <expression>&quot;AWC requires a $&quot;&amp;TEXT({!$Record.CJA_Mortgage__Commitment_Fee__c}) &amp; &quot; Non-refundable Commitment Fee paid with Certified Cheque, AMEX, MC, VISA, Bank Draft or Direct Deposit Payable to Lender (to be applied to the lender fee on funding).&quot;</expression>
    </formulas>
    <formulas>
        <name>InterestReserve_Comment</name>
        <dataType>String</dataType>
        <expression>&quot;There will be an interest reserve in the amount of  $   &quot; + TEXT({!$Record.Interest_Reserve_Fee__c})</expression>
    </formulas>
    <interviewLabel>Conditions - Update Task Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditions - Update Task Comments</label>
    <loops>
        <name>Loop_through_all_the_Tasks_on_RLA</name>
        <label>Loop through all the Tasks on RLA</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Tasks_Related_to_RLA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_Task_Subject</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tasks_Related_to_RLA</name>
        <label>Get Tasks Related to RLA</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommitmentExpiration</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommitmentFee</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MustFundBy</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterestReserve</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Must_Funded_By_Comments_3</name>
        <label>Update Must Funded By Comments 3</label>
        <locationX>1584</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MustFundBy</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MustFundBy_Comment_3</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commitment_Expiration_Comments</name>
        <label>Update Commitment Expiration Comments</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommitmentExpiration</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CommitmentExpiration_Comment</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commitment_Fee_Comments</name>
        <label>Update Commitment Fee Comments</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommitmentFee</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CommitmentFee_Comment</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interest_Reserve_Comments</name>
        <label>Update Interest Reserve Comments</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InterestReserve</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>InterestReserve_Comment</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Must_Funded_By_Comments_1</name>
        <label>Update Must Funded By Comments 1</label>
        <locationX>1056</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MustFundBy</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MustFundBy_Comment_1</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Must_Funded_By_Comments_2</name>
        <label>Update Must Funded By Comments 2</label>
        <locationX>1320</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_through_all_the_Tasks_on_RLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MustFundBy</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>MustFundBy_Comment_2</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Tasks_Related_to_RLA</targetReference>
        </connector>
        <object>ResidentialLoanApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
