force-app/main/default/flows/Conditions_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>AProductLendingApplicationVersionID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PTG10000000Xs1OAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>AWCLendingApplicationVersionID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PTG10000000Y1hOAE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Lending_Application_is_Normal_or_A_product</name>
        <label>Check the Lending Application Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AWC_Lending_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.lending_Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lending Application Records</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AWC_Lending_Application_Action_Plan</targetReference>
            </connector>
            <label>If AWC Lending Application</label>
        </rules>
        <rules>
            <name>If_A_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.lending_Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A_Product_Lending_Application_Action_Plan</targetReference>
            </connector>
            <label>If A Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conditions Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditions Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_A_Product_Lending_Application_Action_Plan</name>
        <label>Create A Product Lending Application Action Plan</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>AProductLendingApplicationVersionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>A-Product Conditions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <dateValue>2023-12-24</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AWC_Lending_Application_Action_Plan</name>
        <label>Create AWC Lending Application Action Plan</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>AWCLendingApplicationVersionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>AWC Lending Application Conditions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <dateValue>2023-12-24</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Lending_Application_is_Normal_or_A_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lending_Application_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ResidentialLoanApplication</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ObjectUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Residential Loan Application</stringValue>
        </value>
    </variables>
</Flow>
