force-app/main/default/flows/Conditions_AutoLaunched_Sys_Logic_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_for_Property_Type</name>
        <label>Check for Property Type</label>
        <locationX>1414</locationX>
        <locationY>3482</locationY>
        <defaultConnector>
            <targetReference>Check_If_Property_has_Encumbrance_Greater_than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>If_Property_Type_is_Condo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_1</targetReference>
            </connector>
            <label>If Property Type is Condo</label>
        </rules>
        <rules>
            <name>If_Property_Type_is_Condo_in_AB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Province__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alberta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_2</targetReference>
            </connector>
            <label>If Property Type is Condo in AB</label>
        </rules>
        <rules>
            <name>If_Property_Type_is_Condo_in_BC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Province__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_3</targetReference>
            </connector>
            <label>If Property Type is Condo in BC</label>
        </rules>
        <rules>
            <name>If_Property_Type_is_Condo_in_BC_or_ON</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Property_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Province__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Province__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ontario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_4</targetReference>
            </connector>
            <label>If Property Type is Condo in BC or ON</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Any_Debt_Items_To_Pay_Off</name>
        <label>Check If Any Debt Items To Pay Off</label>
        <locationX>1612</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Check_If_Commitment_Fee_is_Greater_Than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Any_Debt_Items_To_Pay_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.Debt_Items_to_Pay_off__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_1</targetReference>
            </connector>
            <label>If Any Debt Items To Pay Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_Guarantor_added_to_the_Files</name>
        <label>Check If any Guarantor added to the Files</label>
        <locationX>1612</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_Employment_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_any_Guarantor_added_to_the_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Records.CJA_Mortgage__IsGuarantee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicant_Admit_Conditions_1</targetReference>
            </connector>
            <label>If any Guarantor added to the Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_Property_is_a_Commercial_Property</name>
        <label>Check If any Property is a Commercial Property</label>
        <locationX>1414</locationX>
        <locationY>4082</locationY>
        <defaultConnector>
            <targetReference>Check_If_Property_is_Marked_Owner_Occupied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_any_Property_is_a_Commercial_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Zoning__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_6</targetReference>
            </connector>
            <label>If any Property is a Commercial Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Commitment_Fee_is_Greater_Than_0</name>
        <label>Check If Commitment Fee is Greater Than 0</label>
        <locationX>1612</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Check_If_Interest_Reserve_Fee_is_Greater_Than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Commitment_Fee_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.CJA_Mortgage__Commitment_Fee__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_2</targetReference>
            </connector>
            <label>If Commitment Fee &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Interest_Reserve_Fee_is_Greater_Than_0</name>
        <label>Check If Interest Reserve Fee is Greater Than 0</label>
        <locationX>1612</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Check_If_the_Lending_Application_is_for_a_Purchase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Interest_Reserve_Fee_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.Interest_Reserve_Fee__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_3</targetReference>
            </connector>
            <label>If Interest Reserve Fee is &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Applicant_Employment_is_Not_Null</name>
        <label>Check If Loan Applicant Employment is Not Null</label>
        <locationX>1766</locationX>
        <locationY>5258</locationY>
        <defaultConnector>
            <targetReference>Check_If_Mortgage_Is_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Applicant_Employment_is_Not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectedUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Applicant Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Payment_Type</targetReference>
            </connector>
            <label>If Loan Applicant Employment is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Applicant_Income_is_Not_Null</name>
        <label>Check If Loan Applicant Income is Not Null</label>
        <locationX>1766</locationX>
        <locationY>6842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Applicant_Income_is_Not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectedUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Applicant Income</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Income_Source</targetReference>
            </connector>
            <label>If Loan Applicant Income is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Applicant_is_Not_Null</name>
        <label>Check If Loan Applicant is Not Null</label>
        <locationX>1766</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_Employment_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Applicant_is_Not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectedUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_any_Guarantor_added_to_the_Files</targetReference>
            </connector>
            <label>If Loan Applicant is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_Applicant_Property_Is_Updated</name>
        <label>Check If Loan Applicant Property Is Updated</label>
        <locationX>1766</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_Applicant_Property_Is_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectedUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan Application Property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Property_Type</targetReference>
            </connector>
            <label>If Loan Applicant Property Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Loan_is_Less_Than_75_LTV_And_Funded_before_July_2020</name>
        <label>Check If Loan is Less Than 75% LTV And Funded before July 2020</label>
        <locationX>1612</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Check_If_Position_is_Second</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Loan_is_Less_Than_75_LTV_And_Funded_before_July_2020</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.Blended_LTV__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RLA_Records.Maturity_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>2020-07-01</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_5</targetReference>
            </connector>
            <label>If Loan is Less Than 75% LTV And Funded before July 2020</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_LTV_Greater_Than_75</name>
        <label>Check If LTV Greater Than 75 %</label>
        <locationX>1612</locationX>
        <locationY>6458</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_Income_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_LTV_Greater_Than_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mortgage_Records.CJA_Mortgage__LTV__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mortgage_Admit_Conditions_1</targetReference>
            </connector>
            <label>If LTV Greater Than 75 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Mortgage_Is_not_Null</name>
        <label>Check If Mortgage Is not Null</label>
        <locationX>1766</locationX>
        <locationY>6350</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_Income_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Mortgage_Is_not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectedUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_LTV_Greater_Than_75</targetReference>
            </connector>
            <label>If Mortgage Is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Position_is_Second</name>
        <label>Check If Position is Second</label>
        <locationX>1612</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Check_If_Product_is_Express</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Position_is_Second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.CJA_Mortgage__Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_6</targetReference>
            </connector>
            <label>If Position is Second</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Product_is_Express</name>
        <label>Check If Product is Express</label>
        <locationX>1612</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Check_If_Product_is_Flex_And_LTV_is_Between_65_and_75</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Product_is_Express</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.CJA_Mortgage__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Express</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_7</targetReference>
            </connector>
            <label>If Product is Express</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Product_is_Flex_And_LTV_is_Between_65_and_75</name>
        <label>Check If Product is Flex And LTV is Between 65% and 75%</label>
        <locationX>1612</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_Property_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Product_is_Flex_And_LTV_is_Between_65_and_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.CJA_Mortgage__Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RLA_Records.Blended_LTV__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>65.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RLA_Records.Blended_LTV__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_8</targetReference>
            </connector>
            <label>If Product is Flex And LTV is Between 65% and 75%</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Property_has_Encumbrance_Greater_than_0</name>
        <label>Check If Property has Encumbrance Greater than 0</label>
        <locationX>1414</locationX>
        <locationY>3782</locationY>
        <defaultConnector>
            <targetReference>Check_If_any_Property_is_a_Commercial_Property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Property_has_Encumbrance_Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.CJA_Mortgage__Encumbrance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_5</targetReference>
            </connector>
            <label>If Property has Encumbrance Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Property_is_Marked_Owner_Occupied</name>
        <label>Check If Property is Marked Owner Occupied</label>
        <locationX>1414</locationX>
        <locationY>4382</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Property_is_Marked_Owner_Occupied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Property_Records.PropertyUseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner Occupied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Admit_Conditions_7</targetReference>
            </connector>
            <label>If Property is Marked Owner Occupied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_RLA_is_Updated</name>
        <label>Check If RLA is Updated</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_Applicant_Property_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_RLA_is_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectedUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Loan Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Any_Debt_Items_To_Pay_Off</targetReference>
            </connector>
            <label>If RLA is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_the_Lending_Application_is_for_a_Purchase</name>
        <label>Check If the Lending Application is for a Purchase</label>
        <locationX>1612</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Check_If_Loan_is_Less_Than_75_LTV_And_Funded_before_July_2020</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_Lending_Application_is_for_a_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RLA_Records.CJA_Mortgage__Deal_Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLA_Admit_Conditions_4</targetReference>
            </connector>
            <label>If the Lending Application is for a Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Job_Type_and_Payment_Type</name>
        <label>Check Job Type and Payment Type</label>
        <locationX>1546</locationX>
        <locationY>5966</locationY>
        <defaultConnector>
            <targetReference>Check_If_Mortgage_Is_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Job_type_is_Part_time_and_payment_type_is_Hourly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Employment_Records.CJA_Mortgage__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hourly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Employment_Records.CJA_Mortgage__History_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicant_Employment_Admit_Conditions_5</targetReference>
            </connector>
            <label>If Job type is Part time and payment type is Hourly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Business_Type</name>
        <label>Check the Business Type</label>
        <locationX>1546</locationX>
        <locationY>5666</locationY>
        <defaultConnector>
            <targetReference>Check_Job_Type_and_Payment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Business_Type_is_Corporation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Employment_Records.JobTitle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicant_Employment_Admit_Conditions_3</targetReference>
            </connector>
            <label>If Business Type is Corporation</label>
        </rules>
        <rules>
            <name>If_Business_Type_is_Sole_Proprietor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Employment_Records.JobTitle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sole Proprietor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicant_Employment_Admit_Conditions_4</targetReference>
            </connector>
            <label>If Business Type is Sole Proprietor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Income_Source</name>
        <label>Check the Income Source</label>
        <locationX>1106</locationX>
        <locationY>6950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Spousal_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spousal Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_1</targetReference>
            </connector>
            <label>If Spousal Support</label>
        </rules>
        <rules>
            <name>If_Child_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_2</targetReference>
            </connector>
            <label>If Child Support</label>
        </rules>
        <rules>
            <name>If_Contract_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_3</targetReference>
            </connector>
            <label>If Contract Income</label>
        </rules>
        <rules>
            <name>If_CPP_OR_OAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_4</targetReference>
            </connector>
            <label>If CPP OR OAS</label>
        </rules>
        <rules>
            <name>If_Disability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_5</targetReference>
            </connector>
            <label>If Disability</label>
        </rules>
        <rules>
            <name>If_Investment_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest Income</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions</targetReference>
            </connector>
            <label>If Investment Income</label>
        </rules>
        <rules>
            <name>If_Rental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_7</targetReference>
            </connector>
            <label>If Rental</label>
        </rules>
        <rules>
            <name>If_ISP_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Income_Records.IncomeSourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applicant_Income_Admit_Conditions_8</targetReference>
            </connector>
            <label>If ISP Income</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Payment_Type</name>
        <label>Check the Payment Type</label>
        <locationX>1546</locationX>
        <locationY>5366</locationY>
        <defaultConnector>
            <targetReference>Check_the_Business_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Payment_Type_is_Hourly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Employment_Records.CJA_Mortgage__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hourly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicant_Employment_Admit_Conditions_1</targetReference>
            </connector>
            <label>If Payment Type is Hourly</label>
        </rules>
        <rules>
            <name>If_Payment_Type_is_Salaried</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant_Employment_Records.CJA_Mortgage__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salaried</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicant_Employment_Admit_Conditions_2</targetReference>
            </connector>
            <label>If Payment Type is Salaried</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conditions [AutoLaunched] - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditions [AutoLaunched] -Sys Logic Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Applicant_Employment_Records</name>
        <label>Get Loan Applicant Employment Records</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mortgage_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicantEmployment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicant_Income_Records</name>
        <label>Get Loan Applicant Income Records</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Applicant_Employment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicantIncome</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Applicant_Records</name>
        <label>Get Loan Applicant Records</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Applicant_Income_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CJA_Mortgage__Primary_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_Property_Records</name>
        <label>Get Loan Application Property Records</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Applicant_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CJA_Mortgage__Is_Subject_Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationProperty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mortgage_Records</name>
        <label>Get Mortgage Records</label>
        <locationX>1766</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_RLA_is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CJA_Mortgage__Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CJA_Mortgage__Mortgage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RLA_Records</name>
        <label>Get RLA Records</label>
        <locationX>1766</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loan_Application_Property_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions</name>
        <label>Applicant Income Admit Conditions 6</label>
        <locationX>1370</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_6</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_1</name>
        <label>Applicant Income Admit Conditions 1</label>
        <locationX>50</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_2</name>
        <label>Applicant Income Admit Conditions 2</label>
        <locationX>314</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_3</name>
        <label>Applicant Income Admit Conditions 3</label>
        <locationX>578</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_3</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_4</name>
        <label>Applicant Income Admit Conditions 4</label>
        <locationX>842</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_4</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_5</name>
        <label>Applicant Income Admit Conditions 5</label>
        <locationX>1106</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_5</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_7</name>
        <label>Applicant Income Admit Conditions 7</label>
        <locationX>1634</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_7</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Applicant_Income_Admit_Conditions_8</name>
        <label>Applicant Income Admit Conditions 8</label>
        <locationX>1898</locationX>
        <locationY>7058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantIncomeSourceSubject_8</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Loan_Applicant_Admit_Conditions_1</name>
        <label>Loan Applicant Admit Conditions 1</label>
        <locationX>1480</locationX>
        <locationY>4982</locationY>
        <connector>
            <targetReference>Check_If_Loan_Applicant_Employment_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantGuarantorSubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Loan_Applicant_Employment_Admit_Conditions_1</name>
        <label>Loan Applicant Employment Admit Conditions 1</label>
        <locationX>1282</locationX>
        <locationY>5474</locationY>
        <connector>
            <targetReference>Check_the_Business_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantEmploymentSubject_1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Loan_Applicant_Employment_Admit_Conditions_2</name>
        <label>Loan Applicant Employment Admit Conditions 2</label>
        <locationX>1546</locationX>
        <locationY>5474</locationY>
        <connector>
            <targetReference>Check_the_Business_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantEmploymentSubject_2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Loan_Applicant_Employment_Admit_Conditions_3</name>
        <label>Loan Applicant Employment Admit Conditions 3</label>
        <locationX>1282</locationX>
        <locationY>5774</locationY>
        <connector>
            <targetReference>Check_Job_Type_and_Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantEmploymentSubject_4</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Loan_Applicant_Employment_Admit_Conditions_4</name>
        <label>Loan Applicant Employment Admit Conditions 4</label>
        <locationX>1546</locationX>
        <locationY>5774</locationY>
        <connector>
            <targetReference>Check_Job_Type_and_Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantEmploymentSubject_5</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Loan_Applicant_Employment_Admit_Conditions_5</name>
        <label>Loan Applicant Employment Admit Conditions 5</label>
        <locationX>1414</locationX>
        <locationY>6074</locationY>
        <connector>
            <targetReference>Check_If_Mortgage_Is_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantEmploymentSubject_3</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mortgage_Admit_Conditions_1</name>
        <label>Mortgage Admit Conditions 1</label>
        <locationX>1480</locationX>
        <locationY>6566</locationY>
        <connector>
            <targetReference>Check_If_Loan_Applicant_Income_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageLTVSubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_1</name>
        <label>Property Admit Conditions 1</label>
        <locationX>886</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Check_If_Property_has_Encumbrance_Greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyTypeSubject_1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_2</name>
        <label>Property Admit Conditions 2</label>
        <locationX>1150</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Check_If_Property_has_Encumbrance_Greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyTypeSubject2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_3</name>
        <label>Property Admit Conditions 3</label>
        <locationX>1414</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Check_If_Property_has_Encumbrance_Greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyTypeSubject4</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_4</name>
        <label>Property Admit Conditions 4</label>
        <locationX>1678</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Check_If_Property_has_Encumbrance_Greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyTypeSubject3</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_5</name>
        <label>Property Admit Conditions 5</label>
        <locationX>1282</locationX>
        <locationY>3890</locationY>
        <connector>
            <targetReference>Check_If_any_Property_is_a_Commercial_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyEncumbranceSubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_6</name>
        <label>Property Admit Conditions 6</label>
        <locationX>1282</locationX>
        <locationY>4190</locationY>
        <connector>
            <targetReference>Check_If_Property_is_Marked_Owner_Occupied</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyZoningSubject_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyZoningSubject_2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Property_Admit_Conditions_7</name>
        <label>Property Admit Conditions 7</label>
        <locationX>1282</locationX>
        <locationY>4490</locationY>
        <connector>
            <targetReference>Check_If_Loan_Applicant_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PropertyOccupancySubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_1</name>
        <label>RLA Admit Conditions 1</label>
        <locationX>1480</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Check_If_Commitment_Fee_is_Greater_Than_0</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_DebtItemsToPayOffSubject_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_DebtItemsToPayOffSubject_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_DebtItemsToPayOffSubject_3</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_2</name>
        <label>RLA Admit Conditions 2</label>
        <locationX>1480</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Check_If_Interest_Reserve_Fee_is_Greater_Than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_CommitmentFeeSubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_3</name>
        <label>RLA Admit Conditions 3</label>
        <locationX>1480</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Check_If_the_Lending_Application_is_for_a_Purchase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAInternalReserveFeeSubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_4</name>
        <label>RLA Admit Conditions 4</label>
        <locationX>1480</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Check_If_Loan_is_Less_Than_75_LTV_And_Funded_before_July_2020</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAPurposeSubject_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAPurposeSubject_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAPurposeSubject_3</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_5</name>
        <label>RLA Admit Conditions 5</label>
        <locationX>1480</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Check_If_Position_is_Second</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLALTVSubject</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_6</name>
        <label>RLA Admit Conditions 6</label>
        <locationX>1480</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Check_If_Product_is_Express</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAPositionSubject_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAPositionSubject_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAPositionSubject3</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_7</name>
        <label>RLA Admit Conditions 7</label>
        <locationX>1480</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Check_If_Product_is_Flex_And_LTV_is_Between_65_and_75</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAProductSubject_1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>RLA_Admit_Conditions_8</name>
        <label>RLA Admit Conditions 8</label>
        <locationX>1480</locationX>
        <locationY>3098</locationY>
        <connector>
            <targetReference>Check_If_Loan_Applicant_Property_Is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLA_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLAProductSubject_2</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Logic__c</field>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApplicantEmploymentSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Hourly</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantEmploymentSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Salaried</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantEmploymentSubject_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Part-Time Hourly</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantEmploymentSubject_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Incorporated</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantEmploymentSubject_5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Spousal Support</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantGuarantorSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Personal Guarantee </stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Spousal Support</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Child Support</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Contract Income</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - CPP or OAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Disability or WCB</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Income Verification - Investment Income </stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>If Income source includes Rental</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantIncomeSourceSubject_8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>If Income source includes ISP Income</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgageLTVSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Proof of Income </stringValue>
        </value>
    </variables>
    <variables>
        <name>ObjectedUpdated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyEncumbranceSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Existing mortgage statements</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyOccupancySubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Statutory Declaration </stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyTypeSubject2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Clear Estoppel Certificate</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyTypeSubject3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Form B Required</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyTypeSubject4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Condo Insurance</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyTypeSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Condo Docs</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyZoningSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ESA Phase 1</stringValue>
        </value>
    </variables>
    <variables>
        <name>PropertyZoningSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Rent Roll</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLA_CommitmentFeeSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Commitment Fee</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLA_DebtItemsToPayOffSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Debts to be paid prior to funding</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLA_DebtItemsToPayOffSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Collateral charge</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLA_DebtItemsToPayOffSubject_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Debts to be paid from Trust </stringValue>
        </value>
    </variables>
    <variables>
        <name>RLA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RLAInternalReserveFeeSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Interest Reserve Payment Length</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLALTVSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Must Fund By</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAPositionSubject3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>2nd mortgage priority</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAPositionSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Title Insurance to Contain Mortgage Priority Endorsement </stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAPositionSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Notice to 1st Mortgagee</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAProductSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Borrower Income Declaration - Part A and B</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAProductSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Borrower Income Declaration - Part A</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAPurposeSubject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MLS Listing</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAPurposeSubject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Verification of Downpayment</stringValue>
        </value>
    </variables>
    <variables>
        <name>RLAPurposeSubject_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Offer to Purchase</stringValue>
        </value>
    </variables>
</Flow>
