force-app/main/default/flows/Contact_Update_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_cities</name>
        <label>get cities</label>
        <locationX>666</locationX>
        <locationY>1379</locationY>
        <actionName>Domestic_Geographic_Risk_Ratings</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>getRiskPoints</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>City</name>
            <value>
                <elementReference>$Record.PersonMailingCity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Domestic_Geographic_Risk_Ratings</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>Rating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Occupation_Rating</name>
        <label>Get Occupation Rating</label>
        <locationX>820</locationX>
        <locationY>2063</locationY>
        <actionName>Occupation_Industries_and_their_Risk_Ratings</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_the_compliance_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Occupation</name>
            <value>
                <elementReference>$Record.Occupation_Industry__pc</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Occupation_Industries_and_their_Risk_Ratings</nameSegment>
        <outputParameters>
            <assignToReference>occupationPoints</assignToReference>
            <name>RiskRating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_risk_rating</name>
        <label>get risk rating</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <actionName>Country_Risk_Assessment</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>getRiskPoints</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>$Record.PersonMailingCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Country_Risk_Assessment</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>RiskRating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_state</name>
        <label>get state</label>
        <locationX>402</locationX>
        <locationY>1379</locationY>
        <actionName>Decision_Matrix_Domestic_Geographic_Risk_Ratings_State</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>getRiskPoints</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Province</name>
            <value>
                <elementReference>$Record.PersonMailingState</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Decision_Matrix_Domestic_Geographic_Risk_Ratings_State</nameSegment>
        <outputParameters>
            <assignToReference>RiskRating</assignToReference>
            <name>Rating</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>getRiskPoints</name>
        <label>getRiskPoints</label>
        <locationX>622</locationX>
        <locationY>1655</locationY>
        <actionName>Set_the_Risk_Rating</actionName>
        <actionType>runDecisionMatrix</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_the_compliance_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RiskRating</name>
            <value>
                <elementReference>RiskRating</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_the_Risk_Rating</nameSegment>
        <outputParameters>
            <assignToReference>RiskPoints</assignToReference>
            <name>RiskPoints</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>check_country</name>
        <label>check country</label>
        <locationX>622</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>getRiskPoints</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_risk_rating</targetReference>
            </connector>
            <label>if not canada</label>
        </rules>
        <rules>
            <name>If_Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Prov_and_cities</targetReference>
            </connector>
            <label>If Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Application_is_open</name>
        <label>Check if Application is open</label>
        <locationX>1205</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loan_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan_Applicants.LoanApplication.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Applicants.LoanApplication.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Applicants.LoanApplication.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_what_is_updated</targetReference>
            </connector>
            <label>Application Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prov_and_cities</name>
        <label>Check Prov and cities</label>
        <locationX>666</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>getRiskPoints</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Province</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nunavut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northwest Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yukon Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saskatchewan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prince Edward Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova Scotia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manitoba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_state</targetReference>
            </connector>
            <label>Province</label>
        </rules>
        <rules>
            <name>Cities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_cities</targetReference>
            </connector>
            <label>Cities</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_what_is_updated</name>
        <label>check what is updated</label>
        <locationX>952</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_Country_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_DOB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonBirthdate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_compliance_record</targetReference>
            </connector>
            <label>Is it DOB?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_on_Compliance</name>
        <label>Contact on Compliance</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Applicants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Country_Updated</name>
        <label>Is Country Updated</label>
        <locationX>952</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Is_Occupation_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonMailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonMailingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonMailingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonMailingCity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_country</targetReference>
            </connector>
            <label>Country updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Occupation_Changed</name>
        <label>Is Occupation Changed</label>
        <locationX>952</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Loan_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_occupation_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occupation_Industry__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Occupation_Rating</targetReference>
            </connector>
            <label>Yes occupation Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OccupationRiskPoints</name>
        <dataType>Number</dataType>
        <expression>if({!occupationPoints} = &apos;High&apos;,3,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>setAgeRating</name>
        <dataType>Number</dataType>
        <expression>IF((ROUND((TODAY() - {!$Record.PersonBirthdate}) / 365, 0)) &gt;= 70, 3,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contact- Update Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact- Update Actions</label>
    <loops>
        <name>Loan_Applicants</name>
        <label>Loan Applicants</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Loan_Applicant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Application_is_open</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Applicant</name>
        <label>Get Loan Applicant</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_on_Compliance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_the_compliance_record</name>
        <label>Copy 1 of Update the compliance record</label>
        <locationX>622</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Is_Occupation_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Applicants.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Geography</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>RiskPoints</elementReference>
            </value>
        </inputAssignments>
        <object>Compliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_the_compliance_record</name>
        <label>Copy 2 of Update the compliance record</label>
        <locationX>820</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Loan_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Applicants.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Occupation/Industry</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>OccupationRiskPoints</elementReference>
            </value>
        </inputAssignments>
        <object>Compliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_compliance_record</name>
        <label>Update the compliance record</label>
        <locationX>820</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Is_Country_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Applicants.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Characteristics</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>setAgeRating</elementReference>
            </value>
        </inputAssignments>
        <object>Compliance__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>occupationPoints</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskPoints</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </variables>
</Flow>
