force-app/main/default/flows/Create_Compliance_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EDD_Email</name>
        <label>Send EDD Email</label>
        <locationX>2354</locationX>
        <locationY>4235</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_EDD_notification_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EDD_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EDD_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_UTR_Email</name>
        <label>Send UTR Email</label>
        <locationX>2354</locationX>
        <locationY>3095</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_UTR_notification_sent_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>UTR_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UTR_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_EDD_Notification</name>
        <label>Sent EDD Notification</label>
        <locationX>2354</locationX>
        <locationY>4127</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_EDD_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_notifcation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SaveRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Applicant Marked As High Risk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EDD_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_UTR_Notification</name>
        <label>Sent UTR Notification</label>
        <locationX>2354</locationX>
        <locationY>2987</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_UTR_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_notifcation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SaveRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Application Marked As Suspicious</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TC_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Stage_Change_Notification</name>
        <label>Stage Change Notification</label>
        <locationX>1870</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>update_aproved_notifcation_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_notifcation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SaveRecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>StageChangeNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>StageChangeNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_ALL_Applicants_records</name>
        <label>Add ALL Applicants records</label>
        <locationX>2486</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>All_Applicant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Primary_Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Applicant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Secondary_Applicant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>High_Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Suspiciousness</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_the_Recipient_List</name>
        <label>Clear the Recipient List</label>
        <locationX>2354</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>SaveRecipientID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_UTR_Recipients_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_the_Recipient_List2</name>
        <label>Clear the Recipient List</label>
        <locationX>2354</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>SaveRecipientID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_EDD_Recipients_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mark_as_high_risk</name>
        <label>mark as high risk</label>
        <locationX>2574</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>High_Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_All_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mark_as_suspicious</name>
        <label>mark as suspicious</label>
        <locationX>2574</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Suspiciousness</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_high_risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_EDD_Recipient_to_List</name>
        <label>Save EDD Recipient to List</label>
        <locationX>2442</locationX>
        <locationY>3935</locationY>
        <assignmentItems>
            <assignToReference>SaveRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_EDD_Recipient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_EDD_Recipient.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_EDD_Recipients_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>save_owner_Id</name>
        <label>save owner Id</label>
        <locationX>1870</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>SaveRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_Change_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_UTR_Recipient_to_List</name>
        <label>Save UTR Recipient to List</label>
        <locationX>2442</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>SaveRecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_UTR_Recipient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_UTR_Recipient.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_UTR_Recipients_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Compliance_CRA_rec_prim</name>
        <label>Set Compliance CRA rec prim</label>
        <locationX>2262</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Applicant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Lending_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compliance_rec.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CR_Rec_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compliance_rec.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cra_prim_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Compliance_record_1</name>
        <label>Set Compliance record 1</label>
        <locationX>1758</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Applicant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Lending_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compliance_rec.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_TC_Rec_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_tc_prim_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Complinace_TC_records_sec</name>
        <label>Set Complinace TC records sec</label>
        <locationX>1870</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TC_Loop_Over_Secondary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Lending_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryLabelTC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compliance_rec.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_TC_Rec_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_tc_sec_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_CRA_compliance_rec_sec</name>
        <label>set CRA compliance rec sec</label>
        <locationX>2374</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CRA_Loop_Over_Secondary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Lending_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryLabelCRA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compliance_rec.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CR_Rec_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compliance_rec.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cra_sec_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_cra_prim_list</name>
        <label>update cra prim list</label>
        <locationX>2262</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewComplianceRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_If_Secondary_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_cra_sec_list</name>
        <label>update cra sec list</label>
        <locationX>2374</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewComplianceRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CRA_Loop_Over_Secondary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_tc_prim_list</name>
        <label>update tc prim list</label>
        <locationX>1758</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewComplianceRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>If_Secondary_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_tc_sec_list</name>
        <label>update tc sec list</label>
        <locationX>1870</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>NewComplianceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewComplianceRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewComplianceRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>TC_Loop_Over_Secondary</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Primary_Applicant_doesnt_exist</name>
        <label>Primary Applicant doesnt exist</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>No primary Applicant exists on the Application</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_if_high_risk</name>
        <label>check if high risk</label>
        <locationX>2706</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Check_All_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_High_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_All_Applicants.Applicant_Risk_Points__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mark_as_high_risk</targetReference>
            </connector>
            <label>yes HR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Primary_Rxist</name>
        <label>Check If Primary exist</label>
        <locationX>828</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>update_is_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Applicant_doesnt_exist</targetReference>
            </connector>
            <label>Primary Doesnt Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_suspicious</name>
        <label>check if suspicious</label>
        <locationX>2706</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>check_if_high_risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_sus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_All_Applicants.Applicant_Is_Suspicious__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mark_as_suspicious</targetReference>
            </connector>
            <label>yes sus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_TC_Completed</name>
        <label>Check If TC Completed</label>
        <locationX>2486</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>If_CRA_is_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Suspiciousness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_the_Transaction_Checklist_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UTR_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_the_Recipient_List</targetReference>
            </connector>
            <label>Yes TC</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_previous_stage</name>
        <label>Check Action</label>
        <locationX>1855</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>update_the_pending_approved_cancellation_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Stage_Changed_to_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Primary_Rxist</targetReference>
            </connector>
            <label>If Stage Changed to Approve</label>
        </rules>
        <rules>
            <name>if_stage_change_to_instructed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instructed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>save_owner_Id</targetReference>
            </connector>
            <label>if stage change to instructed</label>
        </rules>
        <rules>
            <name>Check_If_Compliance_Form_Complete</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_the_Client_Risk_Assessment_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_the_Transaction_Checklist_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Funded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_ALL_Applicants_records</targetReference>
            </connector>
            <label>Check If Compliance Form Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_type</name>
        <label>Check record type</label>
        <locationX>2296</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>compliance_rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Transaction_checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>compliance_rec.RecType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction checklist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Primary_Exist</targetReference>
            </connector>
            <label>If Transaction checklist</label>
        </rules>
        <rules>
            <name>if_Risk_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>compliance_rec.RecType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Risk Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_If_Primary_Exist</targetReference>
            </connector>
            <label>if Risk Assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_Primary_Exist</name>
        <label>Copy 1 of If Primary Exist</label>
        <locationX>2394</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_If_Secondary_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_if_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Compliance_CRA_rec_prim</targetReference>
            </connector>
            <label>Copy 2 of if exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_Secondary_Exist</name>
        <label>If Secondary Exist</label>
        <locationX>2394</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>compliance_rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_if_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRA_Loop_Over_Secondary</targetReference>
            </connector>
            <label>if exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CRA_is_filled</name>
        <label>If CRA is filled</label>
        <locationX>2486</locationX>
        <locationY>3395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_the_Client_Risk_Assessment_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>High_Risk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EDD_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_the_Recipient_List2</targetReference>
            </connector>
            <label>yes CRA</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_High_Risk</name>
        <label>If High Risk</label>
        <locationX>2486</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Update_rsk_no</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>High_Risk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_the_Client_Risk_Assessment_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_rsk_yes</targetReference>
            </connector>
            <label>Yes High</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Primary_Exist</name>
        <label>If Primary Exist</label>
        <locationX>1890</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>If_Secondary_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_exist2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Compliance_record_1</targetReference>
            </connector>
            <label>if exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Secondary_Exist</name>
        <label>If Secondary Exist</label>
        <locationX>1890</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>compliance_rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TC_Loop_Over_Secondary</targetReference>
            </connector>
            <label>if exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Sus</name>
        <label>If Sus</label>
        <locationX>2486</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Update_sus_no</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_sus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suspiciousness</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_the_Transaction_Checklist_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_sus_yes</targetReference>
            </connector>
            <label>Yes sus</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EDD_Email_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos; - Please Fill in the EDD&apos;</expression>
    </formulas>
    <formulas>
        <name>OrgURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>PrimaryLabel</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; &apos; + {!Get_Primary_Applicant.Name} + &apos; &apos; +{!compliance_rec.Label}</expression>
    </formulas>
    <formulas>
        <name>SecondaryLabelCRA</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; &apos; +  {!CRA_Loop_Over_Secondary.Name} + &apos; &apos; + {!compliance_rec.Label}</expression>
    </formulas>
    <formulas>
        <name>SecondaryLabelTC</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; &apos; + {!TC_Loop_Over_Secondary.Name} + &apos; &apos; + {!compliance_rec.Label}</expression>
    </formulas>
    <formulas>
        <name>StageChangeNotification</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos; - Application Has Been Approved&apos;</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UTR_Email_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos; - Please Fill in the UTR&apos;</expression>
    </formulas>
    <interviewLabel>Create Compliance Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[RLA] - On Update After Actions</label>
    <loops>
        <name>Check_All_Applicants</name>
        <label>Check All Applicants</label>
        <locationX>2486</locationX>
        <locationY>863</locationY>
        <collectionReference>All_Applicant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_suspicious</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Sus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>compliance_rec</name>
        <label>compliance rec</label>
        <locationX>1606</locationX>
        <locationY>1295</locationY>
        <collectionReference>get_custom_metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_record_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_compliance_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CRA_Loop_Over_Secondary</name>
        <label>CRA Loop Over Secondary</label>
        <locationX>2286</locationX>
        <locationY>2027</locationY>
        <collectionReference>Get_Secondary_Applicant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_CRA_compliance_rec_sec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>compliance_rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_EDD_Recipients_Email</name>
        <label>Loop over EDD Recipients Email</label>
        <locationX>2354</locationX>
        <locationY>3719</locationY>
        <collectionReference>Get_the_EDD_Recipients_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_EDD_Recipient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sent_EDD_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_UTR_Recipients_Email</name>
        <label>Loop over UTR Recipients Email</label>
        <locationX>2354</locationX>
        <locationY>2579</locationY>
        <collectionReference>Get_the_UTR_Recipients_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_UTR_Recipient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sent_UTR_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>TC_Loop_Over_Secondary</name>
        <label>TC Loop Over Secondary</label>
        <locationX>1782</locationX>
        <locationY>2027</locationY>
        <collectionReference>Get_Secondary_Applicant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Complinace_TC_records_sec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>compliance_rec</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_compliance_record</name>
        <label>create compliance record</label>
        <locationX>1606</locationX>
        <locationY>2687</locationY>
        <inputReference>NewComplianceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_CR_Rec_type</name>
        <label>get CR Rec type</label>
        <locationX>1606</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_TC_Rec_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Risk_Assessment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_metadata</name>
        <label>get custom metadata</label>
        <locationX>1606</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CR_Rec_type</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ComplianceRecord__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_notifcation</name>
        <label>Get Custom notifcation</label>
        <locationX>1855</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_previous_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EDD_Recipient</name>
        <label>Get EDD Recipient</label>
        <locationX>2442</locationX>
        <locationY>3827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_EDD_Recipient_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_EDD_Recipients_Email.RecipientEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Applicant</name>
        <label>Get Primary Applicant</label>
        <locationX>1855</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Secondary_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CJA_Mortgage__Primary_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsGSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsGuarantee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Applicant</name>
        <label>Get Secondary Applicant</label>
        <locationX>1855</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_notifcation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CJA_Mortgage__Primary_Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsGSA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsGuarantee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_TC_Rec_Type</name>
        <label>get TC Rec Type</label>
        <locationX>1606</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>compliance_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_checklist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_EDD_Recipients_Emails</name>
        <label>Get the EDD Recipients Emails</label>
        <locationX>2354</locationX>
        <locationY>3611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_EDD_Recipients_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Compliance_Notifications__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_UTR_Recipients_Emails</name>
        <label>Get the UTR Recipients Emails</label>
        <locationX>2354</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_UTR_Recipients_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UTR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Compliance_Notifications__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UTR_Recipient</name>
        <label>Get UTR Recipient</label>
        <locationX>2442</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_UTR_Recipient_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_UTR_Recipients_Email.RecipientEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Date</name>
        <label>Update Approval Date</label>
        <locationX>2882</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>update_commitment_letter_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_aproved_notifcation_status</name>
        <label>update aproved notifcation status</label>
        <locationX>1870</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Approved_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_commitment_letter_date</name>
        <label>update commitment letter date</label>
        <locationX>2882</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commitment_Letter_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Commitment_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_EDD_notification_status</name>
        <label>update EDD notification status</label>
        <locationX>2354</locationX>
        <locationY>4343</locationY>
        <inputAssignments>
            <field>EDD_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_is_approved</name>
        <label>update is approved</label>
        <locationX>1606</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>get_custom_metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_rsk_no</name>
        <label>Update rsk no</label>
        <locationX>2618</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Check_If_TC_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_Risk_Text__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_rsk_yes</name>
        <label>Update rsk yes</label>
        <locationX>2354</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Check_If_TC_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_Risk_Text__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sus_no</name>
        <label>Update sus no</label>
        <locationX>2618</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>If_High_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_Suspiciousness_Text__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sus_yes</name>
        <label>Update sus yes</label>
        <locationX>2354</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>If_High_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_Suspiciousness_Text__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_pending_approved_cancellation_date</name>
        <label>update the pending approved / cancellation date</label>
        <locationX>2882</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Approval_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Cancellation_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_UTR_notification_sent_status</name>
        <label>update UTR notification sent status</label>
        <locationX>2354</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>If_CRA_is_filled</targetReference>
        </connector>
        <inputAssignments>
            <field>UTR_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1729</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Applicant</targetReference>
        </connector>
        <object>ResidentialLoanApplication</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EDD_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&amp;nbsp;&lt;/p&gt;&lt;p&gt;This Application has been marked as High Risk. Please fill in the EDD and attach it to the Application.&amp;nbsp;&lt;/p&gt;&lt;p&gt;The link to the Application: {!OrgURL}&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;The Underwriting Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDD_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name}: Please Fill in the &quot;ENHANCED DUE DILIGENCE&quot; Form</text>
    </textTemplates>
    <textTemplates>
        <name>StageChangeNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The application has been approved. Please fill answer all the compliance questions and attach the Signed Commitment to move forward.</text>
    </textTemplates>
    <textTemplates>
        <name>TC_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name}: Please Fill in the UTR Form</text>
    </textTemplates>
    <textTemplates>
        <name>UTR_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&amp;nbsp;&lt;/p&gt;&lt;p&gt;This Application has been marked as suspicious. Please fill in the UTR and attach it to the Application.&amp;nbsp;&lt;/p&gt;&lt;p&gt;The link to the Application: {!OrgURL}&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;The Underwriting Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>All_Applicant</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicant</objectType>
    </variables>
    <variables>
        <name>High_Risk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewComplianceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Compliance__c</objectType>
    </variables>
    <variables>
        <name>NewComplianceRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Compliance__c</objectType>
    </variables>
    <variables>
        <name>RecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveRecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Suspiciousness</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
